@charset "utf-8";
/* CSS Document */
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #555;
}
#currentMessage{
	margin-top:140px;
	width: 75%;
	float: left;
}
#presetPhrase{
	margin-top:20px;
	width: 75%;
	float: left;
}
#banner{
	height:60px;
	padding-left: 15px;
	background-color: #fff;
	color:#f22;
	font-size: 30px;
}
#underBanner{
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	bottom: 0px;
}
#mockTablet{ 
	width:1028px;
	height: 768px;	
	background: #ebebeb;
}
#calendar{
	float:right;
	width:75%;
}
#textbox{
	float:right;
}
#IdentityVerification{
	margin-top: 20px;
	padding-top:160px;
	text-align: center;
}
/*method of centering cropped images provided by stack overflow*/
.imageDiv {
  width: 200px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
	float:left;
}

@media (max-width : 1024px ){
}
