@charset "utf-8";
/* CSS Document */
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #555;
}
#currentMessage{
	position: absolute;
	width: 930px;
	top: 550px;
	left: 50px;
	height: 210px;
	background-color: #fff;
	padding: 13px;
}
#banner{
	height:60px;
	padding-left: 15px;
	background-color: #fff;
}
#underBanner{
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	bottom: 0px;
}
#mockTablet{ 
	width:1028px;
	height: 768px;	
	background: #ebebeb;
}
#calendar{
	float:right;
	width:760px;
}
#info{
	position: absolute;
	top: 420px;
	left: 0px;
	width: 250px;
	text-align: center;
}
#infoSetting{
	position: absolute;
	top: 435px;
	left: 30px;
	text-align: center;
}
#photoSetting{
	position: absolute;
	top: 410px;
	left: 20px;
}

#below{
	position: absolute;
	top: 510px;
	left: 20px;
}

.toolbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 90px;
	background-color: #333;
}
.toolbar span .tooltiptext{
	visibility: hidden;
	width: 100px;
	height: 73px;
	background-color: #1a1a1a;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 73px;
	padding: 5px 0;
	border: 6px;
	position: absolute;
	z-index: 1;
	right: 100%;
	top: -16px;
	font-size: 16px;
}
.toolbar #save .tooltiptext{
	width: 140px;
}
.toolbar span{
	display: block;
	text-align: center;
	padding: 16px;
	color: white;
	font-size: 36px;
	position: relative;
}
.toolbar span:hover{
	background-color: #000;
}
.toolbar span:hover .tooltiptext{
	visibility: visible;
}


/*method of centering cropped images provided by stack overflow*/
.imageDiv {
  width: 200px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  float:left;
}

@media (max-width : 1024px ){
}
